@charset "UTF-8";
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.main{
    background-image: url('../chat/images/bg.jpg');
    height: 100%;
    width: 100%;
    position: relative;
    background-size:100% 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.logo{
    width: 200px;
    margin:  auto;
    padding-top: 50px;
}

.logo img{
    width: inherit;
}

.slogan{
    width: 500px;
    margin: 0 auto;
}

.slogan h2{
    text-align: center;
    font-size:100px;
    color: #ff0951;
}

.button {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    margin: 50px auto 100px auto ;
    width: 100%;
    background: transparent;
    text-align: center;
}

.button input{
    color: #ff0951;
    font-size: 40px;
    background-color: transparent;
    border: 1px solid #ff0951;
    border-radius: 4px;
    /*cursor: pointer;*/
    outline:0;
}
.message{
    /*background-color: #00a9c6;*/
    /*max-width: 500px;*/
    border-radius: 10px 10px 10px 10px;
    bottom: 0;
    /*position: ;*/
    width: inherit;
}
.message blockquote{
    background-color: rgba(255,255,255,0.2);
    /*padding: 10px 10px 0 10px;*/
    /*height: 70px;*/
    border-radius: 10px 10px 10px 10px;
    max-width: 500px;
    /*background-color: rgba(255,255,255,0.2);*/
    border: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

blockquote>div{
    clear: both;
}
.message blockquote div.me{
    float: right;
    display: block;
    /*clear: both;*/
}
.message blockquote div.start{
    width: 100%;
    text-align: center;
}

.message blockquote div.stranger{
    float: left;
    display: block;
    /*clear: both;*/
}
.sendBox{
    height: 50px;
    display: none;
}
.sendBox div{
    font-size: 16px;
 display: table-cell;
    height: inherit;
    padding: 0 3px;
    background: #eff0f1;

    /*width: 100%;*/

 }
.sendBox input{
    width: 100%;
    height: 100%;
    background: #eff0f1;
    border: 0;
    outline:0;

}
.sendBox input[type=button]{
    color: #ff5e3a;
    font-weight: bold
}
.sendText{
    width: 100%;
    padding: 5px 0 !important;
}
.sendText input{
    box-sizing: border-box;
    border: 1px solid #bebfc0;
     border-radius: 5px;

}
.changeButton{
}
